@mixin flex-center($justifyContent, $direction) {
  display: flex;
  align-items: center;
  justify-content: $justifyContent;
  flex-direction: $direction;
}

@mixin bg-image($bgImgHeight, $bgImgUrl) {
  width: 100vw;
  height: $bgImgHeight;
  background-image: $bgImgUrl;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@mixin primary-font($fontSize, $fontWeight, $letterSpacing, $textAlign) {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: $fontSize;
  font-weight: $fontWeight;
  letter-spacing: $letterSpacing;
  text-align: $textAlign;
}

@mixin secondary-font($fontSize, $letterSpacing, $textAlign) {
  font-family: "Aleo", serif;
  color: #ffffff;
  font-weight: 400;
  font-size: $fontSize;
  letter-spacing: $letterSpacing;
  text-align: $textAlign;
}
