@use "variables" as *;
@use "mixins" as *;

@font-face {
  font-family: "Josefin Sans";
  src: url(../assets/fonts/Josefin_Sans/static/JosefinSans-Bold.ttf)
    format(truetype);
  font-weight: 700;
}

@font-face {
  font-family: "Josefin Sans";
  src: url(../assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf)
    format(truetype);
  font-weight: 400;
}

@font-face {
  font-family: "Aleo";
  src: url(../assets/fonts/Aleo/static/Aleo-Regular.ttf) format(truetype);
  font-weight: 400;
}

// NAV BAR
.main-nav {
  @include flex-center(space-between, row);
  padding: 30px 200px;
  background-color: $detailsColor;

  .main-nav__logo {
    @include primary-font(24px, 700, 2.4px, inherit);
    margin-right: 50px;
  }

  ul {
    @include flex-center(space-evenly, row);
    @include secondary-font(14px, 1px, center);
    gap: 50px;
    list-style: none;

    li {
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

// FIRST PAGE CONTENT

.bg-img__first {
  @include bg-image(820px, url(../assets/images/bg-image-first.png));
}

.section__search {
  @include flex-center(center, column);
  height: 820px;
  h1 {
    @include primary-font(48px, 700, 4.8px, center);
    margin-bottom: 10px;
  }
  h2 {
    @include primary-font(22px, 400, 6.82px, center);
    margin-bottom: 48px;
  }

  form {
    @include flex-center(center, row);
    // min-width: 700px;
    width: 45%;
    height: 65px;
    border: $inputBorder;
    margin-bottom: 110px;

    label {
      display: none;
    }

    .search-bar {
      width: 70%;
      height: 100%;
      border: $inputBorder;
      box-sizing: border-box;

      @include primary-font(14px, 400, 2.8px, center);
      color: #999999;

      ::placeholder,
      ::-moz-placeholder {
        opacity: 1;
      }
      &:focus {
        outline: none;
      }
    }

    .search-bar__btn {
      width: 30%;
      height: 100%;
      border: $inputBorder;
      background-color: $detailsColor;

      @include secondary-font(14px, 1.4px, center);

      .fa-magnifying-glass {
        margin-left: 10px;
      }

      &:hover,
      &:focus {
        background-color: darken($detailsColor, 30%);
      }
    }
  }

  .scroll-down {
    @include primary-font(14px, 400, 2.8px, center);

    &__icon {
      margin-top: 10px;
    }
  }
}
