@font-face {
  font-family: "Josefin Sans";
  src: url(../assets/fonts/Josefin_Sans/static/JosefinSans-Bold.ttf) format(truetype);
  font-weight: 700;
}
@font-face {
  font-family: "Josefin Sans";
  src: url(../assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf) format(truetype);
  font-weight: 400;
}
@font-face {
  font-family: "Aleo";
  src: url(../assets/fonts/Aleo/static/Aleo-Regular.ttf) format(truetype);
  font-weight: 400;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 30px 200px;
  background-color: #5474fd;
  position: relative;
}
.main-nav .main-nav__logo {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2.4px;
  text-align: inherit;
  margin-right: 50px;
}
.main-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  font-family: "Aleo", serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  gap: 50px;
  list-style: none;
}
.main-nav ul li a {
  color: inherit;
  text-decoration: none;
}

.bg-img__first {
  width: 100vw;
  height: 820px;
  background-image: url(../assets/images/bg-image-first.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.section__search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 820px;
}
.section__search h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 4.8px;
  text-align: center;
  margin-bottom: 10px;
}
.section__search h2 {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 6.82px;
  text-align: center;
  margin-bottom: 48px;
}
.section__search form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-width: 700px;
  height: 65px;
  border: solid #ffffff 2px;
  margin-bottom: 110px;
}
.section__search form label {
  display: none;
}
.section__search form .search-bar {
  width: 70%;
  height: 100%;
  border: solid #ffffff 2px;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.8px;
  text-align: center;
  color: #999999;
}
.section__search form .search-bar ::-moz-placeholder {
  opacity: 1;
}
.section__search form .search-bar ::placeholder,
.section__search form .search-bar ::-moz-placeholder {
  opacity: 1;
}
.section__search form .search-bar:focus {
  outline: none;
}
.section__search form .search-bar__btn {
  width: 30%;
  height: 100%;
  border: solid #ffffff 2px;
  background-color: #5474fd;
  font-family: "Aleo", serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.4px;
  text-align: center;
}
.section__search form .search-bar__btn .fa-magnifying-glass {
  margin-left: 10px;
}
.section__search form .search-bar__btn:hover, .section__search form .search-bar__btn:focus {
  background-color: #0224b6;
  cursor: pointer;
}
.section__search .scroll-down {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.8px;
  text-align: center;
}
.section__search .scroll-down__icon {
  margin-top: 10px;
}

.bg-img__second {
  width: 100vw;
  height: 685px;
  background-image: url(../assets/images/bg-image-second.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 80px;
}
.bg-img__second .choose-us-grid {
  width: 80%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px 50px;
  align-items: center;
  justify-self: center;
}
.bg-img__second .choose-us-grid__text {
  grid-area: 1/1/3/2;
  margin-top: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.6px;
  text-align: start;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.bg-img__second .choose-us-grid__text h3 {
  font-family: "Aleo", serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: inherit;
  text-align: start;
  margin-bottom: 20px;
}
.bg-img__second .choose-us-grid__text p {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.6px;
  text-align: start;
}
.bg-img__second .choose-us-grid__text button {
  width: 228px;
  height: 65px;
  background-color: #5474fd;
  border: none;
  font-family: "Aleo", serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 20px 0;
}
.bg-img__second .choose-us-grid__text button:hover {
  background-color: #0224b6;
  cursor: pointer;
}
.bg-img__second .choose-us-grid__img-1 {
  grid-area: 1/2/2/3;
  margin-right: 90px;
}
.bg-img__second .choose-us-grid__img-2 {
  grid-area: 2/2/3/3;
  position: relative;
  bottom: 0;
  left: 90px;
}

.how-works {
  background-color: #333333;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 340px;
  width: 100vw;
  gap: 170px;
}
.how-works section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #333333;
  z-index: 2;
}
.how-works section p {
  font-family: "Aleo", serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: inherit;
  text-align: center;
  margin-top: 30px;
}
.how-works .arc-line {
  position: absolute;
  bottom: 200px;
}/*# sourceMappingURL=styles.css.map */