@use "variables" as *;
@use "mixins" as *;

@font-face {
  font-family: "Josefin Sans";
  src: url(../assets/fonts/Josefin_Sans/static/JosefinSans-Bold.ttf)
    format(truetype);
  font-weight: 700;
}

@font-face {
  font-family: "Josefin Sans";
  src: url(../assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf)
    format(truetype);
  font-weight: 400;
}

@font-face {
  font-family: "Aleo";
  src: url(../assets/fonts/Aleo/static/Aleo-Regular.ttf) format(truetype);
  font-weight: 400;
}

// NAV BAR
.main-nav {
  @include flex-center(space-between, row);
  padding: 30px 200px;
  background-color: $detailsColor;
  position: relative;

  .main-nav__logo {
    @include primary-font(24px, 700, 2.4px, inherit);
    margin-right: 50px;
  }

  ul {
    @include flex-center(space-evenly, row);
    @include secondary-font(14px, 1px, center);
    gap: 50px;
    list-style: none;

    li {
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}

// FIRST PAGE CONTENT

.bg-img__first {
  @include bg-image(820px, url(../assets/images/bg-image-first.png));
}

.section__search {
  @include flex-center(center, column);
  height: 820px;

  h1 {
    @include primary-font(48px, 700, 4.8px, center);
    margin-bottom: 10px;
  }
  h2 {
    @include primary-font(22px, 400, 6.82px, center);
    margin-bottom: 48px;
  }

  form {
    @include flex-center(center, row);
    min-width: 700px;
    height: 65px;
    border: $inputBorder;
    margin-bottom: 110px;

    label {
      display: none;
    }

    .search-bar {
      width: 70%;
      height: 100%;
      border: $inputBorder;
      box-sizing: border-box;

      overflow: hidden;

      @include primary-font(14px, 400, 2.8px, center);
      color: #999999;

      ::placeholder,
      ::-moz-placeholder {
        opacity: 1;
      }
      &:focus {
        outline: none;
      }
    }

    .search-bar__btn {
      width: 30%;
      height: 100%;
      border: $inputBorder;
      background-color: $detailsColor;

      @include secondary-font(14px, 1.4px, center);

      .fa-magnifying-glass {
        margin-left: 10px;
      }

      &:hover,
      &:focus {
        background-color: darken($detailsColor, 30%);
        cursor: pointer;
      }
    }
  }

  .scroll-down {
    @include primary-font(14px, 400, 2.8px, center);

    &__icon {
      margin-top: 10px;
    }
  }
}

// SECOND PAGE CONTENT

.bg-img__second {
  @include bg-image(685px, url(../assets/images/bg-image-second.png));
  @include flex-center(center, row);
  margin-top: 80px;

  .choose-us-grid {
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 50px;
    align-items: center;
    justify-self: center;

    &__text {
      grid-area: 1 / 1 / 3 / 2;
      margin-top: 20px;

      @include primary-font(16px, 400, 1.6px, start);
      line-height: 26px;

      @include flex-center(space-between, column);
      align-items: start;
      gap: 20px;

      h3 {
        @include secondary-font(36px, inherit, start);
        margin-bottom: 20px;
      }

      p {
        @include primary-font(16px, 400, 1.6px, start);
      }

      button {
        @include btn-style(20px 0);
      }
    }

    &__img-1 {
      grid-area: 1 / 2 / 2 / 3;

      margin-right: 90px;
    }

    &__img-2 {
      grid-area: 2 / 2 / 3 / 3;

      position: relative;
      bottom: 0;
      left: 90px;
    }
  }
}

.how-works {
  background-color: #333333;
  position: relative;

  @include flex-center(center, row);
  height: 340px;
  width: 100vw;
  gap: 170px;

  section {
    @include flex-center(center, column);
    background-color: #333333;
    z-index: 2;

    p {
      @include secondary-font(36px, inherit, center);
      margin-top: 30px;
    }
  }

  .arc-line {
    position: absolute;
    bottom: 200px;
  }
}

// 3RD PAGE

.third-page {
  @include bg-image(700px, url(../assets/images/bg-image-3rd.png));
  @include flex-center(start, row);

  &__article {
    background-color: rgba(35, 35, 35, 0.9);
    max-width: 550px;
    margin-left: 300px;
    padding: 50px 30px;

    @include primary-font(20px, 400, inherit, start);

    h4 {
      letter-spacing: 1.5px;
      margin-bottom: 30px;
    }

    h3 {
      margin-bottom: 30px;
    }

    p {
      font-size: 16px;
      line-height: 26px;
    }

    .book-btn {
      @include btn-style(50px 0 0);
    }
  }
}
