@font-face {
  font-family: "Josefin Sans";
  src: url(../assets/fonts/Josefin_Sans/static/JosefinSans-Bold.ttf) format(truetype);
  font-weight: 700;
}
@font-face {
  font-family: "Josefin Sans";
  src: url(../assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf) format(truetype);
  font-weight: 400;
}
@font-face {
  font-family: "Aleo";
  src: url(../assets/fonts/Aleo/static/Aleo-Regular.ttf) format(truetype);
  font-weight: 400;
}
body {
  overflow-x: hidden;
}

.bg-img__first {
  width: 100vw;
  height: 820px;
  background-image: url(../assets/images/bg-image-first.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  height: 820px;
}

.section__search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.section__search h1 {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 4.8px;
  text-align: center;
  margin-bottom: 10px;
}
.section__search h2 {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 6.82px;
  text-align: center;
  margin-bottom: 48px;
}
.section__search form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 50%;
  height: 65px;
  border: solid #ffffff 3px;
  margin-bottom: 110px;
}
.section__search form label {
  display: none;
}
.section__search form .search-bar {
  width: 70%;
  height: 100%;
  border: solid #ffffff 3px;
  box-sizing: border-box;
  outline: none;
  overflow: hidden;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.8px;
  text-align: center;
  color: #999999;
}
.section__search form .search-bar ::-moz-placeholder {
  opacity: 1;
}
.section__search form .search-bar ::placeholder,
.section__search form .search-bar ::-moz-placeholder {
  opacity: 1;
}
.section__search form .search-bar:focus {
  outline: none;
}
.section__search form .search-bar__btn {
  width: 30%;
  height: 100%;
  border: none;
  background-color: #5474fd;
  font-family: "Aleo", serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.4px;
  text-align: center;
}
.section__search form .search-bar__btn .fa-magnifying-glass {
  margin-left: 10px;
}
.section__search form .search-bar__btn:hover, .section__search form .search-bar__btn:focus {
  background-color: #0224b6;
  cursor: pointer;
}
.section__search .scroll-down {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.8px;
  text-align: center;
  animation: float 2000ms ease-in-out infinite;
}
.section__search .scroll-down__icon {
  margin-top: 15px;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 30px 200px;
  background-color: #5474fd;
  position: relative;
}
.main-nav .main-nav__logo {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2.4px;
  text-align: inherit;
  margin-right: 50px;
}
.main-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  font-family: "Aleo", serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  gap: 50px;
  list-style: none;
}
.main-nav ul li {
  transition-duration: 500ms;
}
.main-nav ul li a {
  color: inherit;
  text-decoration: none;
}
.main-nav ul li:hover {
  transform: scale(1.2);
  transition-duration: 500ms;
  color: #0224b6;
}

.bg-img__second {
  width: 100vw;
  height: 685px;
  background-image: url(../assets/images/bg-image-second.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 80px;
}
.bg-img__second .choose-us-grid {
  width: 80%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px 50px;
  align-items: center;
  justify-self: center;
}
.bg-img__second .choose-us-grid__text {
  grid-area: 1/1/3/2;
  margin-top: 20px;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.6px;
  text-align: start;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.bg-img__second .choose-us-grid__text h3 {
  font-family: "Aleo", serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: inherit;
  text-align: start;
  margin-bottom: 20px;
}
.bg-img__second .choose-us-grid__text button {
  width: 228px;
  height: 65px;
  background-color: #5474fd;
  border: none;
  font-family: "Aleo", serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 20px 0;
}
.bg-img__second .choose-us-grid__text button:hover {
  background-color: #0224b6;
  cursor: pointer;
}
.bg-img__second .choose-us-grid__img-1 {
  grid-area: 1/2/2/3;
  border: solid 3px transparent;
  margin-right: 90px;
}
.bg-img__second .choose-us-grid__img-1:hover {
  border: #5474fd 3px solid;
}
.bg-img__second .choose-us-grid__img-2 {
  grid-area: 2/2/3/3;
  border: solid 2px transparent;
  position: relative;
  bottom: 0;
  left: 90px;
}
.bg-img__second .choose-us-grid__img-2:hover {
  border: #5474fd 3px solid;
}

.how-works {
  background-color: #333333;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 340px;
  width: 100vw;
  gap: 170px;
}
.how-works section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #333333;
  z-index: 2;
}
.how-works section img {
  transition-duration: 500ms;
}
.how-works section p {
  font-family: "Aleo", serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: inherit;
  text-align: center;
  margin-top: 40px;
}
.how-works section:hover img {
  transform: scale(1.5);
  transition-duration: 500ms;
}
.how-works section:hover p {
  color: #5474fd;
  transition-duration: 500ms;
}
.how-works .arc-line {
  position: absolute;
  bottom: 200px;
}

.third-page {
  width: 100vw;
  height: 700px;
  background-image: url(../assets/images/bg-image-3rd.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}
.third-page .spain-article {
  background-color: rgba(35, 35, 35, 0.9);
  max-width: 550px;
  margin: 0 0 0 300px;
  padding: 50px 30px;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: inherit;
  text-align: start;
}
.third-page .spain-article h4 {
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}
.third-page .spain-article h3 {
  margin-bottom: 30px;
}
.third-page .spain-article p {
  font-size: 16px;
  line-height: 26px;
}
.third-page .spain-article .book-btn {
  width: 228px;
  height: 65px;
  background-color: #5474fd;
  border: none;
  font-family: "Aleo", serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 50px 0 0;
}
.third-page .spain-article .book-btn:hover {
  background-color: #0224b6;
  cursor: pointer;
}

.fourth-page {
  width: 100vw;
  height: 700px;
  background-image: url(../assets/images/bg-image-fourth.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
}
.fourth-page .spain-article {
  background-color: rgba(35, 35, 35, 0.9);
  max-width: 550px;
  margin: 0 300px 0 0;
  padding: 50px 30px;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: inherit;
  text-align: start;
}
.fourth-page .spain-article h4 {
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}
.fourth-page .spain-article h3 {
  margin-bottom: 30px;
}
.fourth-page .spain-article p {
  font-size: 16px;
  line-height: 26px;
}
.fourth-page .spain-article .book-btn {
  width: 228px;
  height: 65px;
  background-color: #5474fd;
  border: none;
  font-family: "Aleo", serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 50px 0 0;
}
.fourth-page .spain-article .book-btn:hover {
  background-color: #0224b6;
  cursor: pointer;
}

.testimonial {
  width: 100vw;
  height: 730px;
  background-image: url(../assets/images/testimonial.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testimonial h2 {
  font-family: "Aleo", serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: inherit;
  text-align: center;
  margin-bottom: 70px;
}
.testimonial__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: inherit;
  text-align: start;
  margin: 0 200px;
  background-color: #333333;
  line-height: 26px;
  max-width: 1500px;
}
.testimonial__content img {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial__content article {
  padding: 30px 30px 30px 50px;
  width: 50%;
}
.testimonial__content article h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.testimonial__content article .fa-quote-left {
  color: #5474fd;
  font-size: 36px;
  vertical-align: baseline;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-items: end;
  height: 270px;
  width: 100vw;
  background-color: #232323;
  color: #ffffff;
}
.footer__container {
  margin-bottom: 50px;
}
.footer__container h5 {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 3.36px;
  text-align: center;
  margin-bottom: 10px;
}
.footer__container p {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.6px;
  text-align: center;
  margin-bottom: 20px;
}
.footer__container .social-media {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 15px;
}
.footer__container .social-media .fa-linkedin-in {
  color: #5474fd;
}

@media (max-width: 1100px) {
  .bg-img__first {
    height: 600px;
  }
  .bg-img__first h1 {
    font-size: 35px;
    margin-top: 50px;
  }
  .bg-img__first h2 {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .bg-img__first form {
    height: 50px;
    margin-bottom: 100px;
    width: 70%;
  }
  .bg-img__first form .search-bar {
    font-size: 10px;
  }
  .bg-img__first form .search-bar__btn {
    font-size: 10px;
  }
  .bg-img__first form .fa-magnifying-glass {
    display: none;
  }
  .main-nav {
    display: block;
    padding: 10px 30px;
  }
  .main-nav .main-nav__logo {
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-align: center;
    line-height: 40px;
    margin: 0 10px;
  }
  .main-nav ul {
    display: none;
  }
  .bg-img__second {
    margin-top: 30px;
    height: 650px;
  }
  .bg-img__second .choose-us-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .bg-img__second .choose-us-grid__text {
    margin: 30px 20px 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .bg-img__second .choose-us-grid__text h3 {
    font-family: "Aleo", serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 23px;
    letter-spacing: inherit;
    text-align: center;
  }
  .bg-img__second .choose-us-grid__text p {
    font-size: 13px;
  }
  .bg-img__second .choose-us-grid__text button {
    width: 228px;
    height: 65px;
    background-color: #5474fd;
    border: none;
    font-family: "Aleo", serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1.2px;
    text-align: center;
    margin: 20px 0 0 0;
    width: 180px;
    height: 50px;
    font-size: 13px;
  }
  .bg-img__second .choose-us-grid__text button:hover {
    background-color: #0224b6;
    cursor: pointer;
  }
  .bg-img__second .choose-us-grid__img-1 {
    display: none;
  }
  .bg-img__second .choose-us-grid__img-2 {
    display: none;
  }
  .how-works {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 250px;
    gap: 50px;
  }
  .how-works section {
    margin: 15px 25px;
  }
  .how-works section img {
    width: 50px;
  }
  .how-works section p {
    font-size: 16px;
  }
  .how-works .arc-line {
    display: none;
  }
  .third-page,
  .fourth-page {
    justify-content: center;
  }
  .third-page .spain-article,
  .fourth-page .spain-article {
    background-color: rgba(35, 35, 35, 0.9);
    max-width: 550px;
    margin: 30px;
    padding: 50px 30px;
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: inherit;
    text-align: start;
  }
  .third-page .spain-article h4,
  .fourth-page .spain-article h4 {
    letter-spacing: 1.5px;
    margin-bottom: 30px;
  }
  .third-page .spain-article h3,
  .fourth-page .spain-article h3 {
    margin-bottom: 30px;
  }
  .third-page .spain-article p,
  .fourth-page .spain-article p {
    font-size: 16px;
    line-height: 26px;
  }
  .third-page .spain-article .book-btn,
  .fourth-page .spain-article .book-btn {
    width: 228px;
    height: 65px;
    background-color: #5474fd;
    border: none;
    font-family: "Aleo", serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1.2px;
    text-align: center;
    margin: 50px 0 0;
  }
  .third-page .spain-article .book-btn:hover,
  .fourth-page .spain-article .book-btn:hover {
    background-color: #0224b6;
    cursor: pointer;
  }
  .testimonial {
    height: 600px;
  }
  .testimonial h2 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .testimonial__content {
    margin: 30px 50px;
    max-width: 700px;
  }
  .testimonial__content img {
    display: none;
  }
  .testimonial__content article {
    padding: 30px;
    width: 100%;
  }
  .testimonial__content article .fa-quote-left {
    font-size: 20px;
  }
  .footer {
    height: 200px;
  }
  .footer h5 {
    font-size: 15px;
  }
  .footer p {
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .how-works {
    gap: 5px;
    height: 200px;
  }
  .how-works img {
    width: 30px;
  }
  .how-works p {
    font-size: 13px;
  }
  .testimonial__content {
    margin: 20px 0 0;
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */