@use "variables" as *;
@use "mixins" as *;

@font-face {
  font-family: "Josefin Sans";
  src: url(../assets/fonts/Josefin_Sans/static/JosefinSans-Bold.ttf)
    format(truetype);
  font-weight: 700;
}

@font-face {
  font-family: "Josefin Sans";
  src: url(../assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf)
    format(truetype);
  font-weight: 400;
}

@font-face {
  font-family: "Aleo";
  src: url(../assets/fonts/Aleo/static/Aleo-Regular.ttf) format(truetype);
  font-weight: 400;
}

body {
  overflow-x: hidden;
}

// FIRST PAGE CONTENT

.bg-img__first {
  @include bg-image(820px, url(../assets/images/bg-image-first.png));
  height: 820px;
}

.section__search {
  @include flex-center(center, column);
  height: 100%;

  h1 {
    @include primary-font(48px, 700, 4.8px, center);
    margin-bottom: 10px;
  }
  h2 {
    @include primary-font(22px, 400, 6.82px, center);
    margin-bottom: 48px;
  }

  form {
    @include flex-center(center, row);
    width: 50%;
    height: 65px;
    border: $inputBorder;
    margin-bottom: 110px;

    label {
      display: none;
    }

    .search-bar {
      width: 70%;
      height: 100%;
      border: $inputBorder;
      box-sizing: border-box;
      outline: none;

      overflow: hidden;

      @include primary-font(14px, 400, 2.8px, center);
      color: #999999;

      ::placeholder,
      ::-moz-placeholder {
        opacity: 1;
      }
      &:focus {
        outline: none;
      }
    }

    .search-bar__btn {
      width: 30%;
      height: 100%;
      border: none;
      background-color: $detailsColor;

      @include secondary-font(14px, 1.4px, center);

      .fa-magnifying-glass {
        margin-left: 10px;
      }

      &:hover,
      &:focus {
        background-color: darken($detailsColor, 30%);
        cursor: pointer;
      }
    }
  }

  .scroll-down {
    @include primary-font(14px, 400, 2.8px, center);
    animation: float 2000ms ease-in-out infinite;

    &__icon {
      margin-top: 15px;
    }
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0px);
    }
  }
}

// NAV BAR
.main-nav {
  @include flex-center(space-between, row);
  padding: 30px 200px;
  background-color: $detailsColor;
  position: relative;

  .main-nav__logo {
    @include primary-font(24px, 700, 2.4px, inherit);
    margin-right: 50px;
  }

  ul {
    @include flex-center(space-evenly, row);
    @include secondary-font(14px, 1px, center);
    gap: 50px;
    list-style: none;

    li {
      transition-duration: 500ms;

      a {
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        transform: scale(1.2);
        transition-duration: 500ms;
        color: #333333;
      }
    }
  }
}

// SECOND PAGE CONTENT

.bg-img__second {
  @include bg-image(685px, url(../assets/images/bg-image-second.png));
  @include flex-center(center, row);
  margin-top: 80px;

  .choose-us-grid {
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 50px;
    align-items: center;
    justify-self: center;

    &__text {
      grid-area: 1 / 1 / 3 / 2;
      margin-top: 20px;

      @include primary-font(16px, 400, 1.6px, start);
      line-height: 26px;

      @include flex-center(space-between, column);
      align-items: start;
      gap: 20px;

      h3 {
        @include secondary-font(36px, inherit, start);
        margin-bottom: 20px;
      }

      button {
        @include btn-style(20px 0);
      }
    }

    &__img-1 {
      grid-area: 1 / 2 / 2 / 3;

      margin-right: 90px;
    }

    &__img-2 {
      grid-area: 2 / 2 / 3 / 3;

      position: relative;
      bottom: 0;
      left: 90px;
    }
  }
}

.how-works {
  background-color: #333333;
  position: relative;

  @include flex-center(center, row);
  height: 340px;
  width: 100vw;
  gap: 170px;

  section {
    @include flex-center(center, column);
    background-color: #333333;
    z-index: 2;

    p {
      @include secondary-font(36px, inherit, center);
      margin-top: 30px;
    }
  }

  .arc-line {
    position: absolute;
    bottom: 200px;
  }
}

// 3RD AND 4TH PAGE

.third-page {
  @include bg-image(700px, url(../assets/images/bg-image-3rd.png));
  @include flex-center(start, row);

  .spain-article {
    @include article-style(0 0 0 300px);
  }
}

.fourth-page {
  @include bg-image(700px, url(../assets/images/bg-image-fourth.png));
  @include flex-center(end, row);

  .spain-article {
    @include article-style(0 300px 0 0);
  }
}

// TESTIMONIAL

.testimonial {
  @include bg-image(730px, url(../assets/images/testimonial.png));
  @include flex-center(center, column);

  h2 {
    @include secondary-font(36px, inherit, center);
    margin-bottom: 70px;
  }

  &__content {
    @include flex-center(center, row);
    @include primary-font(16px, 400, inherit, start);
    margin: 0 200px;
    background-color: #333333;
    line-height: 26px;
    max-width: 1500px;

    img {
      width: 50%;
      height: 100%;
      object-fit: cover;
    }

    article {
      padding: 30px 30px 30px 50px;
      width: 50%;

      h3 {
        font-size: 20px;
        margin-bottom: 20px;
      }

      .fa-quote-left {
        color: $detailsColor;
        font-size: 36px;
        vertical-align: baseline;
      }
    }
  }
}

// FOOTER

.footer {
  @include flex-center(center, row);
  align-items: end;

  height: 270px;
  width: 100vw;

  background-color: #232323;
  color: #ffffff;

  &__container {
    margin-bottom: 50px;

    h5 {
      @include primary-font(24px, 700, 3.36px, center);
      margin-bottom: 10px;
    }

    p {
      @include primary-font(16px, 400, 1.6px, center);
      margin-bottom: 20px;
    }

    .social-media {
      @include flex-center(space-evenly, row);
      gap: 15px;

      .fa-linkedin-in {
        color: $detailsColor;
      }
    }
  }
}

// RESPONSIVNESS

// FOR SCREEN <1100PX WIDE

@media (max-width: 1100px) {
  // FIRST PAGE
  .bg-img__first {
    height: 600px;

    h1 {
      font-size: 35px;
      margin-top: 50px;
    }

    h2 {
      font-size: 15px;
      margin-bottom: 20px;
    }

    form {
      height: 50px;
      margin-bottom: 100px;
      width: 70%;

      .search-bar {
        font-size: 10px;
      }

      .search-bar__btn {
        font-size: 10px;
      }

      .fa-magnifying-glass {
        display: none;
      }
    }
  }

  // NAV BAR
  .main-nav {
    display: block;
    padding: 10px 30px;

    .main-nav__logo {
      @include primary-font(24px, 700, 2.4px, center);
      line-height: 40px;
      margin: 0 10px;
    }

    ul {
      display: none;
    }
  }

  // SECOND PAGE - WHY CHOOSE US

  .bg-img__second {
    margin-top: 30px;
    height: 650px;

    .choose-us-grid {
      @include flex-center(center, row);

      &__text {
        margin: 30px 20px 10px;
        font-size: 13px;

        @include flex-center(space-between, column);
        align-items: center;
        gap: 20px;

        h3 {
          @include secondary-font(23px, inherit, center);
        }

        p {
          font-size: 13px;
        }

        button {
          @include btn-style(20px 0 0 0);
          width: 180px;
          height: 50px;
          font-size: 13px;
        }
      }

      &__img-1 {
        display: none;
      }

      &__img-2 {
        display: none;
      }
    }
  }

  // SECOND PAGE - HOW IT WORKS

  .how-works {
    // background-color: #333333;
    // position: relative;

    @include flex-center(center, row);
    height: 250px;
    // width: 100vw;
    gap: 50px;

    section {
      margin: 15px 25px;

      img {
        width: 50px;
      }

      p {
        font-size: 16px;
        // margin-top: 30px;
      }
    }

    .arc-line {
      display: none;
    }
  }

  // THIRD AND FOURTH PAGES

  .third-page,
  .fourth-page {
    justify-content: center;

    .spain-article {
      @include article-style(30px);
    }
  }

  // TESTIMONIAL

  .testimonial {
    height: 600px;

    h2 {
      font-size: 25px;
      margin-bottom: 30px;
    }

    &__content {
      margin: 30px 50px;
      max-width: 700px;

      img {
        display: none;
      }

      article {
        padding: 30px;
        width: 100%;

        .fa-quote-left {
          font-size: 20px;
        }
      }
    }
  }

  .footer {
    height: 200px;

    h5 {
      font-size: 15px;
    }

    p {
      font-size: 10px;
    }
  }
}

// FOR SCREEN <600PX WIDE

@media (max-width: 600px) {
  // SECOND PAGE

  .how-works {
    gap: 5px;
    height: 200px;

    img {
      width: 30px;
    }
    p {
      font-size: 13px;
    }
  }

  // TESTIMONIAL

  .testimonial__content {
    margin: 20px 0 0;
    width: 100%;
  }
}
